<configuration debug="true">
    <appender name="AWS-CLOUD-WATCH" class="com.xpcagey.logback.CloudWatchClassicAppender">
        <encoder>
            <pattern>%-5level [%.15thread] %logger{0}: %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
        <groupName>com.xpcagey.logback.CloudWatchAppenderIntegrationTests</groupName>
        <streamName>Testing</streamName>
    </appender>
    <root level="TRACE">
        <appender-ref ref="AWS-CLOUD-WATCH" />
    </root>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>